[user]
	email = gabriel.custodio@pipefy.com
	name = Gabriel Custódio
	signingkey = 45CED8A971C478C5
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[core]
	editor = nvim
[init]
	defaultBranch = main
[branch "master"]
	pushRemote = no_push
[branch "main"]
	pushRemote = no_push
